__pycache__/
**/__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/
.env
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
build/
dist/
*.db
*.sqlite
*.sqlite3
database/sqlite/
assets/temp/
storage/
.pytest_cache/
